@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-slate-200;
}

.header {
  @apply fixed top-0 gap-5 py-2 w-full bg-orange-400 text-white text-3xl capitalize italic shadow-lg;
}

.button-circle {
  @apply flex-center-center flex-col h-14 px-2 rounded-md border border-gray-600 text-sm text-gray-600 leading-5 shadow-md;
}

.button-circle > div:first-child {
  @apply text-xl font-bold;
}
.button-circle > svg:first-child {
  @apply text-2xl font-bold;
}
.button-circle-active,
.button-circle:hover,
.button-circle:active {
  @apply bg-gray-600 border-slate-50 text-slate-50;
}

.button-circle.mini {
  @apply h-8;
}

.row {
  @apply flex items-center justify-start gap-4 py-2 shadow-md bg-white w-full;
}
.row.active {
  @apply bg-orange-400 shadow-none;
}

.row.active .button-circle {
  @apply border-slate-50 text-white;
}

.row.active .divider {
  @apply bg-slate-50;
}

.row.active .divider {
  @apply bg-slate-50;
}

.row-date {
  @apply flex items-center justify-center flex-col text-xl text-gray-600 font-bold w-10 border-gray-400 border-r-2 px-10;
}

.row-date.active {
  @apply text-white border-white;
}

.input {
  @apply p-2 w-10/12 border-orange-400 text-orange-600 border rounded-md shadow-md text-center;
}

.input[type="time"] {
  @apply p-0 w-max shadow-none ml-7 bg-white text-3xl border-b-2 border-x-0 border-t-0 rounded-none text-center;
}

.input[type="time"]::-webkit-calendar-picker-indicator {
  @apply opacity-40 hidden;
}

.input.mini {
  @apply text-xl w-max ml-0;
}

.input:focus {
  @apply outline-orange-400 shadow-2xl;
}
